p {font-size: 1.0em; font-family: EYHVNL+SandSm; color: #231f20}
.s0 {font-size: 0.7em; font-family: XUEHQT+SandJg; color: #9a7144}
.s1 {font-size: 0.8em; font-family: SPRDYD+Helvetica-Narrow; color: #231f20}
.s2 {font-size: 0.7em; font-family: XUEHQT+SandJg; color: #231f20}
.s3 {font-size: 1.0em; font-family: RLHXKF+SandSm; color: #231f20}
.s4 {font-size: 6.5em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s5 {font-size: 6.5em; font-family: IVRVOX+YDIYGO350; color: #e50016}
.s6 {font-size: 6.5em; font-family: MBUTSP+YDIYGO330; color: #e50016}
.s7 {font-size: 6.9em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s8 {font-size: 2.3em; font-family: DQERWH+YDIYGO340; color: #231f20}
.s9 {font-size: 2.3em; font-family: IVRVOX+YDIYGO350; color: #cf2345}
.s10 {font-size: 2.3em; font-family: DQERWH+YDIYGO340; color: #cf2345}
.s11 {font-size: 2.4em; font-family: DQERWH+YDIYGO340; color: #231f20}
.s12 {font-size: 0.9em; font-family: ZFGOSP+YDVYGOStd13; color: #ec153c}
.s13 {font-size: 1.1em; font-family: VZDQOX+YDVYGOStd12; color: #00ffff}
.s14 {font-size: 0.8em; font-family: IVRVOX+YDIYGO350; color: #00ffff}
.s15 {font-size: 0.8em; font-family: MBUTSP+YDIYGO330; color: #00ffff}
.s16 {font-size: 0.8em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s17 {font-size: 0.8em; font-family: MBUTSP+YDIYGO330; color: #ec153c}
.s18 {font-size: 0.8em; font-family: IVRVOX+YDIYGO350; color: #9a7144}
.s19 {font-size: 0.8em; font-family: MBUTSP+YDIYGO330; color: #9a7144}
.s20 {font-size: 1.2em; font-family: SXPYYD+YDIYMjO360; color: #9a7144}
.s21 {font-size: 1.6em; font-family: ORRAUL+Helvetica75-Bold; color: #00ffff}
.s22 {font-size: 0.7em; font-family: ORRAUL+SandTg; color: #00ffff}
.s23 {font-size: 0.8em; font-family: ORRAUL+SandTg; color: #00ffff}
.s24 {font-size: 1.1em; font-family: LKDIER+SandTm; color: #231f20}
.s25 {font-size: 1.1em; font-family: RLHXKF+SandSm; color: #231f20}
.s26 {font-size: 0.9em; font-family: RLHXKF+SandSm; color: #231f20}
.s27 {font-size: 0.8em; font-family: IDPQOX+YDVYMjOStd11; color: #231f20}
.s28 {font-size: 1.0em; font-family: IVRVOX+YDIYGO350; color: #00ffff}
.s29 {font-size: 1.0em; font-family: MBUTSP+YDIYGO330; color: #00ffff}
.s30 {font-size: 1.0em; font-family: IVRVOX+YDIYGO350; color: #231f20}
.s31 {font-size: 1.0em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s32 {font-size: 1.4em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s33 {font-size: 1.4em; font-family: SXPYYD+YDIYMjO360; color: #231f20}
.s34 {font-size: 0.9em; font-family: ORRAUL+SandTg; color: #00ffff}
.s35 {font-size: 1.1em; font-family: ORRAUL+SandTg; color: #00ffff}
.s36 {font-size: 0.6em; font-family: ORRAUL+SandTg; color: #00ffff}
.s37 {font-size: 1.8em; font-family: VZDQOX+YDVYGOStd12; color: #00ffff}
.s38 {font-size: 0.5em; font-family: XUEHQT+SandJg; color: #231f20}
.s39 {font-size: 0.8em; font-family: DYCMWH+SandKg; color: #231f20}
.s40 {font-size: 0.6em; font-family: XUEHQT+SandJg; color: #231f20}
.s41 {font-size: 0.5em; font-family: AROUGN+Gulim; color: #000000}
.s42 {font-size: 0.6em; font-family: XUEHQT+SandJg; color: #9a7144}
.s43 {font-size: 0.7em; font-family: SPRDYD+Helvetica-Narrow; color: #231f20}
.s44 {font-size: 0.6em; font-family: XUEHQT+SandJg; color: #231f20}
.s45 {font-size: 6.1em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s46 {font-size: 6.1em; font-family: IVRVOX+YDIYGO350; color: #e50016}
.s47 {font-size: 6.1em; font-family: MBUTSP+YDIYGO330; color: #e50016}
.s48 {font-size: 2.1em; font-family: DQERWH+YDIYGO340; color: #231f20}
.s49 {font-size: 2.1em; font-family: IVRVOX+YDIYGO350; color: #cf2345}
.s50 {font-size: 2.1em; font-family: DQERWH+YDIYGO340; color: #cf2345}
.s51 {font-size: 2.3em; font-family: DQERWH+YDIYGO340; color: #231f20}
.s52 {font-size: 0.8em; font-family: ZFGOSP+YDVYGOStd13; color: #ec153c}
.s53 {font-size: 1.0em; font-family: VZDQOX+YDVYGOStd12; color: #00ffff}
.s54 {font-size: 0.7em; font-family: IVRVOX+YDIYGO350; color: #00ffff}
.s55 {font-size: 0.7em; font-family: MBUTSP+YDIYGO330; color: #00ffff}
.s56 {font-size: 0.7em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s57 {font-size: 0.7em; font-family: MBUTSP+YDIYGO330; color: #ec153c}
.s58 {font-size: 0.7em; font-family: IVRVOX+YDIYGO350; color: #9a7144}
.s59 {font-size: 0.7em; font-family: MBUTSP+YDIYGO330; color: #9a7144}
.s60 {font-size: 1.1em; font-family: SXPYYD+YDIYMjO360; color: #9a7144}
.s61 {font-size: 1.4em; font-family: ORRAUL+Helvetica75-Bold; color: #00ffff}
.s62 {font-size: 0.6em; font-family: ORRAUL+SandTg; color: #00ffff}
.s63 {font-size: 1.0em; font-family: LKDIER+SandTm; color: #231f20}
.s64 {font-size: 0.8em; font-family: RLHXKF+SandSm; color: #231f20}
.s65 {font-size: 0.7em; font-family: IDPQOX+YDVYMjOStd11; color: #231f20}
.s66 {font-size: 0.9em; font-family: IVRVOX+YDIYGO350; color: #00ffff}
.s67 {font-size: 0.9em; font-family: MBUTSP+YDIYGO330; color: #00ffff}
.s68 {font-size: 0.9em; font-family: IVRVOX+YDIYGO350; color: #231f20}
.s69 {font-size: 0.9em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s70 {font-size: 1.3em; font-family: MBUTSP+YDIYGO330; color: #231f20}
.s71 {font-size: 1.3em; font-family: SXPYYD+YDIYMjO360; color: #231f20}
.s72 {font-size: 1.0em; font-family: ORRAUL+SandTg; color: #00ffff}
.s73 {font-size: 0.5em; font-family: ORRAUL+SandTg; color: #00ffff}
.s74 {font-size: 1.6em; font-family: VZDQOX+YDVYGOStd12; color: #00ffff}
.s75 {font-size: 0.4em; font-family: XUEHQT+SandJg; color: #231f20}
.s76 {font-size: 0.7em; font-family: DYCMWH+SandKg; color: #231f20}
.s77 {font-size: 0.4em; font-family: AROUGN+Gulim; color: #000000}
.s78 {font-size: 2.0em; font-family: EYHVNL+SandSm; color: #231f20}
.s79 {font-size: 0.9em; font-family: KXFATZ+YDVYGOStd12; color: #231f20}
.s80 {font-size: 1.0em; font-family: KXFATZ+YDVYMjOStd14; color: #231f20}
.s81 {font-size: 0.5em; font-family: KXFATZ+Gulim; color: #000000}
.s82 {font-size: 1.2em; font-family: KXFATZ+YDVYGOStd12; color: #231f20}
.s83 {font-size: 0.7em; font-family: UZDIDF+SandJg; color: #231f20}
.s84 {font-size: 0.9em; font-family: EYHVNL+SandSm; color: #231f20}
.s85 {font-size: 0.8em; font-family: EYHVNL+SandSm; color: #231f20}
.s86 {font-size: 0.7em; font-family: EWBQNL+SandTg; color: #231f20}
.s87 {font-size: 0.6em; font-family: EWBQNL+SandTg; color: #231f20}
.s88 {font-size: 0.6em; font-family: EYHVNL+SandSm; color: #231f20}
.s89 {font-size: 1.0em; font-family: EWBQNL+YDIYGO350; color: #00ffff}
.s90 {font-size: 1.0em; font-family: EWBQNL+YDIYGO330; color: #00ffff}
.s91 {font-size: 1.0em; font-family: EWBQNL+YDIYGO330; color: #231f20}
.s92 {font-size: 1.0em; font-family: EWBQNL+YDIYGO330; color: #ec153c}
.s93 {font-size: 1.0em; font-family: EWBQNL+YDIYGO350; color: #ec153c}
.s94 {font-size: 1.4em; font-family: EWBQNL+YDIYGO330; color: #ec153c}
.s95 {font-size: 1.4em; font-family: PXOELP+YDIYMjO360; color: #ec153c}
.s96 {font-size: 1.1em; font-family: PXOELP+SandTm; color: #00ffff}
.s97 {font-size: 1.1em; font-family: EYHVNL+SandSm; color: #00ffff}
.s98 {font-size: 0.9em; font-family: EYHVNL+SandSm; color: #00ffff}
.s99 {font-size: 5.2em; font-family: EWBQNL+YDIYGO330; color: #000000}
.s100 {font-size: 5.2em; font-family: EWBQNL+YDIYGO350; color: #ec153c}
.s101 {font-size: 5.2em; font-family: EWBQNL+YDIYGO330; color: #ec153c}
.s102 {font-size: 5.5em; font-family: EWBQNL+YDIYGO330; color: #000000}
.s103 {font-size: 0.7em; font-family: ZZMHVV+Univers-Light; color: #656262}
.s104 {font-size: 0.7em; font-family: ZZMHVV+Univers-Light; color: #4f4b4c}
.s105 {font-size: 0.6em; font-family: ZZMHVV+Univers-Condensed; color: #00ffff}
.s106 {font-size: 0.5em; font-family: KXFATZ+YDVYGOStd12; color: #7b7879}
.s107 {font-size: 0.9em; font-family: KAZVTZ+YDVYGOStd13; color: #00ffff}
.s108 {font-size: 1.0em; font-family: EYHVNL+SandSm; color: #231f20}
.s109 {font-size: 3.1em; font-family: ZZMHVV+Univers-Condensed; color: #d1ba8d}
.s110 {font-size: 0.8em; font-family: KXFATZ+YDVYGOStd12; color: #231f20}
.s111 {font-size: 0.7em; font-family: KAZVTZ+Dinmed; color: #4f4b4c}
.s112 {font-size: 1.0em; font-family: ZZMHVV+Univers-Condensed; color: #8a4912}
.s113 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #f58535}
.s114 {font-size: 0.8em; font-family: ZZMHVV+Univers-Condensed; color: #8a4912}
.s115 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #8764b8}
.s116 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #59c594}
.s117 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #5bb8ea}
.s118 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #8a4912}
.s119 {font-size: 2.3em; font-family: UXCDDF+YDVYMjOStd11; color: #231f20}
.s120 {font-size: 1.9em; font-family: ZZMHVV+Univers-Condensed; color: #00ffff}
.s121 {font-size: 0.6em; font-family: ZZMHVV+Univers-Condensed; color: #f58535}
.s122 {font-size: 2.4em; font-family: UXCDDF+Arial-BoldMT; color: #231f20}
.s123 {font-size: 1.4em; font-family: KAZVTZ+YDVYGOStd13; color: #00ffff}
.s124 {font-size: 1.1em; font-family: EZAGNL+Univers; color: #00ffff}
.s125 {font-size: 0.9em; font-family: KXFATZ+YDVYGOStd12; color: #231f20}
.s126 {font-size: 0.7em; font-family: KXFATZ+YDVYGOStd12; color: #393536}
.s127 {font-size: 0.8em; font-family: PXOELP+SandTm; color: #393536}
.s128 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #231f20}
.s129 {font-size: 1.0em; font-family: EYHVNL+SandSm; color: #f58535}
.s130 {font-size: 0.5em; font-family: EWBQNL+SandTg; color: #4f4b4c}
.s131 {font-size: 0.6em; font-family: PANULP+YDVYGOStd11; color: #231f20}
.s132 {font-size: 0.8em; font-family: UZDIDF+SandJg; color: #231f20}
.s133 {font-size: 0.8em; font-family: PXOELP+SandTm; color: #f69044}
.s134 {font-size: 0.6em; font-family: ZZMHVV+Univers-Condensed; color: #8764b8}
.s135 {font-size: 1.0em; font-family: EYHVNL+SandSm; color: #8764b8}
.s136 {font-size: 0.7em; font-family: KXFATZ+YDVYGOStd12; color: #00ffff}
.s137 {font-size: 0.6em; font-family: ZZMHVV+Univers-Condensed; color: #59c594}
.s138 {font-size: 0.8em; font-family: KXFATZ+YDVYGOStd12; color: #00ffff}
.s139 {font-size: 0.7em; font-family: PANULP+Univers-Bold; color: #231f20}
.s140 {font-size: 0.6em; font-family: ZZMHVV+Univers-Condensed; color: #5bb8ea}
.s141 {font-size: 0.8em; font-family: EWBQNL+SandTg; color: #00ffff}
.s142 {font-size: 0.8em; font-family: UZDIDF+SandJg; color: #5bb8ea}
.s143 {font-size: 0.8em; font-family: PANULP+SandJg; color: #231f20}
.s144 {font-size: 0.7em; font-family: PANULP+Haansoft-Dotum; color: #00ffff}
.s145 {font-size: 0.7em; font-family: PANULP+Haansoft-Dotum; color: #231f20}
.s146 {font-size: 0.8em; font-family: KXFATZ+YDVYGOStd12; color: #393536}
.s147 {font-size: 0.6em; font-family: KAZVTZ+YDVYGOStd13; color: #00ffff}
.s148 {font-size: 1.9em; font-family: KAZVTZ+YDVYGOStd13; color: #00ffff}
.s149 {font-size: 1.1em; font-family: KAZVTZ+YDVYGOStd13; color: #d1ba8d}
.s150 {font-size: 0.8em; font-family: KAZVTZ+YDVYGOStd13; color: #8a4912}
.s151 {font-size: 0.7em; font-family: KXFATZ+YDVYGOStd12; color: #231f20}