p {font-size: 1.0em; font-family: VDNAUF+YDVYMjO11; color: #231f20}
.s0 {font-size: 1.0em; font-family: VDNAUF+Times-Roman; color: #231f20}
.s1 {font-size: 0.8em; font-family: VDNAUF+Times-Roman; color: #231f20}
.s2 {font-size: 0.8em; font-family: VDNAUF+YDVYMjO13; color: #231f20}
.s3 {font-size: 0.8em; font-family: VDNAUF+SDMyungjoStd-Light; color: #231f20}
.s4 {font-size: 0.8em; font-family: VDNAUF+YDVYGO14; color: #231f20}
.s5 {font-size: 0.6em; font-family: VDNAUF+DIN-Medium; color: #231f20}
.s6 {font-size: 0.8em; font-family: VDNAUF+YDVYGO11; color: #231f20}
.s7 {font-size: 1.2em; font-family: VDNAUF+HYSam-Light-Pro; color: #231f20}
.s8 {font-size: 0.8em; font-family: VDNAUF+YDVYMjO11; color: #231f20}
.s9 {font-size: 1.0em; font-family: VDNAUF+YDVYMjO11; color: #231f20}
.s10 {font-size: 0.8em; font-family: VDNAUF+YDVYGO14; color: #656262}
.s11 {font-size: 1.0em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #231f20}
.s12 {font-size: 0.8em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #7b7879}
.s13 {font-size: 0.6em; font-family: VDNAUF+YDVYGO11; color: #231f20}
.s14 {font-size: 0.6em; font-family: VDNAUF+YDVYGO14; color: #231f20}
.s15 {font-size: 0.8em; font-family: VDNAUF+YDVYGO14; color: #638e33}
.s16 {font-size: 0.4em; font-family: VDNAUF+YDVYGO11; color: #d9dfc1}
.s17 {font-size: 0.8em; font-family: VDNAUF+YDVYGO14; color: #00ffff}
.s18 {font-size: 0.7em; font-family: VDNAUF+YDVYGO12; color: #231f20}
.s19 {font-size: 0.7em; font-family: VDNAUF+YDVYGO12; color: #638e33}
.s20 {font-size: 0.7em; font-family: VDNAUF+DIN-Medium; color: #638e33}
.s21 {font-size: 0.7em; font-family: VDNAUF+YDVYGO14; color: #231f20}
.s22 {font-size: 0.4em; font-family: VDNAUF+YDVYGO11; color: #789a46}
.s23 {font-size: 1.1em; font-family: VDNAUF+DIN-Bold; color: #00ffff}
.s24 {font-size: 2.7em; font-family: VDNAUF+YDVYMjO11; color: #638e33}
.s25 {font-size: 12.0em; font-family: VDNAUF+DIN-Light; color: #638e33}
.s26 {font-size: 1.7em; font-family: VDNAUF+DIN-Light; color: #638e33}
.s27 {font-size: 2.6em; font-family: VDNAUF+YDVYMjO11; color: #638e33}
.s28 {font-size: 2.6em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #638e33}
.s29 {font-size: 0.7em; font-family: VDNAUF+DIN-Medium; color: #231f20}
.s30 {font-size: 1.7em; font-family: VDNAUF+AdobeMyungjoStd-Medium; color: #638e33}
.s31 {font-size: 0.9em; font-family: VDNAUF+YDVYGO13; color: #638e33}
.s32 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #638e33}
.s33 {font-size: 0.6em; font-family: VDNAUF+DIN-Medium; color: #638e33}
.s34 {font-size: 0.7em; font-family: VDNAUF+YDVYGO14; color: #00ffff}
.s35 {font-size: 0.7em; font-family: VDNAUF+YDVYGO13; color: #231f20}
.s36 {font-size: 0.8em; font-family: VDNAUF+YDVYGO11; color: #231f20}
.s37 {font-size: 0.8em; font-family: VDNAUF+YDVYGO14; color: #7b7879}
.s38 {font-size: 0.7em; font-family: VDNAUF+DIN-Regular; color: #638e33}
.s39 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #231f20}
.s40 {font-size: 1.1em; font-family: VDNAUF+YDVYGO14; color: #638e33}
.s41 {font-size: 0.8em; font-family: VDNAUF+YDVYMjO11; color: #231f20}
.s42 {font-size: 1.0em; font-family: VDNAUF+YDVYMjO11; color: #638e33}
.s43 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #656262}
.s44 {font-size: 0.8em; font-family: VDNAUF+YDVYGO12; color: #231f20}
.s45 {font-size: 1.0em; font-family: VDNAUF+ITCGaramondStd-Bd; color: #231f20}
.s46 {font-size: 1.0em; font-family: VDNAUF+YDVYMjO13; color: #231f20}
.s47 {font-size: 0.6em; font-family: VDNAUF+DIN-Regular; color: #231f20}
.s48 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #656262}
.s49 {font-size: 0.8em; font-family: VDNAUF+DIN-Medium; color: #231f20}
.s50 {font-size: 1.0em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #638e33}
.s51 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #231f20}
.s52 {font-size: 0.8em; font-family: VDNAUF+YDVYMjO11; color: #7b7879}
.s53 {font-size: 1.0em; font-family: VDNAUF+AdobeMyungjoStd-Medium; color: #231f20}
.s54 {font-size: 0.6em; font-family: VDNAUF+YDVYGO13; color: #231f20}
.s55 {font-size: 0.6em; font-family: VDNAUF+YDVYGO12; color: #638e33}
.s56 {font-size: 0.5em; font-family: VDNAUF+YDVYGO11; color: #231f20}
.s57 {font-size: 1.5em; font-family: VDNAUF+YDVYMjO11; color: #638e33}
.s58 {font-size: 0.9em; font-family: VDNAUF+YDVYGO13; color: #231f20}
.s59 {font-size: 0.8em; font-family: VDNAUF+YDVYGO13; color: #638e33}
.s60 {font-size: 0.8em; font-family: VDNAUF+YDVYGO11; color: #a7a5a5}
.s61 {font-size: 0.8em; font-family: VDNAUF+HYFriend-Medium-Pro; color: #638e33}
.s62 {font-size: 0.8em; font-family: VDNAUF+YDVYGO12; color: #656262}
.s63 {font-size: 0.7em; font-family: VDNAUF+YDVYGO12; color: #656262}
.s64 {font-size: 0.9em; font-family: VDNAUF+HYFriend-Medium-Pro; color: #00ffff}
.s65 {font-size: 0.8em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #638e33}
.s66 {font-size: 0.8em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #9db26f}
.s67 {font-size: 1.0em; font-family: VDNAUF+YDVYMjO11; color: #656262}
.s68 {font-size: 1.0em; font-family: VDNAUF+DIN-Bold; color: #638e33}
.s69 {font-size: 0.7em; font-family: VDNAUF+YDVYGO11; color: #231f20}
.s70 {font-size: 0.6em; font-family: VDNAUF+YDVYGO13; color: #00ffff}
.s71 {font-size: 0.8em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #231f20}
.s72 {font-size: 1.6em; font-family: VDNAUF+YDVYMjO11; color: #638e33}
.s73 {font-size: 1.6em; font-family: VDNAUF+ITCGaramondStd-Lt; color: #638e33}
.s74 {font-size: 1.5em; font-family: VDNAUF+YDVYMjO11; color: #231f20}
.s75 {font-size: 0.8em; font-family: VDNAUF+YDVYGO11; color: #7b7879}
.s76 {font-size: 0.6em; font-family: VDNAUF+DIN-Light; color: #231f20}