p {font-size: 1.0em; font-family: BZWINW+SandSm; color: #231f20}
.s0 {font-size: 1.5em; font-family: VOOAWN+SandSm; color: #918f8f}
.s1 {font-size: 1.9em; font-family: QYJUPS+YDVYGOStd13; color: #2a65a3}
.s2 {font-size: 1.0em; font-family: BZWINW+SandSm; color: #2e2a2b}
.s3 {font-size: 0.7em; font-family: QBIKPS+YDVYGOStd15; color: #00ffff}
.s4 {font-size: 0.6em; font-family: QBIKPS+DINPro-Bold; color: #00ffff}
.s5 {font-size: 4.9em; font-family: QBIKPS+YDVYGOStd12; color: #2a65a3}
.s6 {font-size: 6.1em; font-family: QBIKPS+YDVYGOStd12; color: #2a65a3}
.s7 {font-size: 0.7em; font-family: QBIKPS+YDVYGOStd12; color: #a7a5a5}
.s8 {font-size: 0.7em; font-family: QBIKPS+YDVYGOStd12; color: #231f20}
.s9 {font-size: 1.1em; font-family: AYGSZY+YDVYGOStd14; color: #231f20}
.s10 {font-size: 0.9em; font-family: QBIKPS+YDVYGOStd12; color: #231f20}
.s11 {font-size: 0.8em; font-family: QBIKPS+YDVYGOStd12; color: #231f20}
.s12 {font-size: 0.8em; font-family: AYGSZY+SandJg; color: #918f8f}
.s13 {font-size: 4.1em; font-family: LZTGXC+YDIYGO320; color: #2a65a3}
.s14 {font-size: 0.6em; font-family: LZTGXC+YDIYGO340; color: #a7a5a5}
.s15 {font-size: 0.6em; font-family: LZTGXC+YDIYGO340; color: #231f20}
.s16 {font-size: 0.9em; font-family: LZTGXC+YDIYGO340; color: #231f20}
.s17 {font-size: 0.7em; font-family: LZTGXC+YDIYGO320; color: #231f20}
.s18 {font-size: 0.6em; font-family: LZTGXC+YDIYGO320; color: #231f20}
.s19 {font-size: 0.8em; font-family: VBROHI+YDIYGO310; color: #2a65a3}
.s20 {font-size: 1.1em; font-family: GCEXFM+DINPro-Medium; color: #2a65a3}
.s21 {font-size: 1.4em; font-family: VBROHI+YDIYGO310; color: #2a65a3}
.s22 {font-size: 0.7em; font-family: GCEXFM+DINPro-Black; color: #231f20}
.s23 {font-size: 3.6em; font-family: VBROHI+YDIYGO310; color: #00ffff}
.s24 {font-size: 1.0em; font-family: BZWINW+SandSm; color: #00ffff}
.s25 {font-size: 0.7em; font-family: BZWINW+SandSm; color: #00ffff}
.s26 {font-size: 2.0em; font-family: BZWINW+SandSm; color: #fff100}
.s27 {font-size: 1.1em; font-family: BZWINW+SandSm; color: #fff100}
.s28 {font-size: 3.0em; font-family: GCEXFM+DINPro-Black; color: #2a65a3}
.s29 {font-size: 1.0em; font-family: BZWINW+SandSm; color: #231f20}
.s30 {font-size: 1.0em; font-family: BZWINW+SandSm; color: #2a65a3}
.s31 {font-size: 0.7em; font-family: BZWINW+SandSm; color: #2a65a3}
.s32 {font-size: 0.7em; font-family: BZWINW+SandSm; color: #918f8f}
.s33 {font-size: 0.5em; font-family: BZWINW+SandSm; color: #231f20}
.s34 {font-size: 0.8em; font-family: BZWINW+SandSm; color: #231f20}
.s35 {font-size: 1.0em; font-family: LZTGXC+YDIYGO340; color: #2a65a3}
.s36 {font-size: 0.9em; font-family: LZTGXC+YDIYGO340; color: #347647}
.s37 {font-size: 0.6em; font-family: LZTGXC+YDIYGO320; color: #656262}
.s38 {font-size: 0.9em; font-family: LZTGXC+YDIYGO340; color: #2a65a3}
.s39 {font-size: 0.9em; font-family: QZCFPS+YDIYGO330; color: #231f20}
.s40 {font-size: 0.9em; font-family: BZWINW+SandSm; color: #231f20}
.s41 {font-size: 0.9em; font-family: BZWINW+SandSm; color: #2a65a3}
.s42 {font-size: 0.6em; font-family: ABANZY+YDIYGO120-KSCPC-EUC-H; color: #231f20}
.s43 {font-size: 1.0em; font-family: ABANZY+YDIYGO360; color: #00ffff}
.s44 {font-size: 0.7em; font-family: LCNWXC+YDIYMjO340; color: #00ffff}
.s45 {font-size: 0.9em; font-family: BZWINW+SandSm; color: #00ffff}
.s46 {font-size: 0.7em; font-family: VZLEHI+YDIYGO120-KSCPC-EUC-H; color: #231f20}
.s47 {font-size: 0.6em; font-family: BZWINW+SandSm; color: #231f20}
.s48 {font-size: 0.9em; font-family: VZLEHI+YDIYGO350; color: #2a65a3}
.s49 {font-size: 0.8em; font-family: LZTGXC+YDIYGO320; color: #231f20}
.s50 {font-size: 0.7em; font-family: BZWINW+SandSm; color: #231f20}
.s51 {font-size: 0.6em; font-family: FBOMRO+KozMinPro-Regular; color: #2a65a3}
.s52 {font-size: 0.6em; font-family: FBOMRO+AdobeSongStd-Light; color: #2a65a3}
.s53 {font-size: 0.7em; font-family: FBOMRO+AdobeSongStd-Light; color: #2a65a3}
.s54 {font-size: 0.6em; font-family: FBOMRO+AdobeSongStd-Light; color: #918f8f}
.s55 {font-size: 0.7em; font-family: ABANZY+YDIYGO360; color: #00ffff}
.s56 {font-size: 0.8em; font-family: VBROHI+YDIYGO310; color: #231f20}
.s57 {font-size: 1.2em; font-family: QCWVPS+YDIYMjO110-KSCPC-EUC-H; color: #4f4b4c}
.s58 {font-size: 0.8em; font-family: QCWVPS+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s59 {font-size: 0.7em; font-family: AZZDZY+YDIYGO130-KSCPC-EUC-H; color: #231f20}
.s60 {font-size: 0.7em; font-family: AZZDZY+YDIYGO110-KSCPC-EUC-H; color: #231f20}
.s61 {font-size: 0.7em; font-family: QCWVPS+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s62 {font-size: 0.6em; font-family: QCWVPS+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s63 {font-size: 1.1em; font-family: AYGSZY+YDVYGOStd14; color: #2a65a3}