p {font-size: 1.0em; font-family: IATYXS+KoPubBatangLight; color: #393536}
.s0 {font-size: 1.6em; font-family: IXUIXS+SandSm; color: #231f20}
.s1 {font-size: 1.0em; font-family: SZSQHY+YDIYGO130-KSCPC-EUC-H; color: #00ffff}
.s2 {font-size: 1.1em; font-family: SZSQHY+AdobeMyungjoStd-Medium; color: #00ffff}
.s3 {font-size: 0.9em; font-family: DAFZFC+YDIYGO120-KSCPC-EUC-H; color: #00ffff}
.s4 {font-size: 0.8em; font-family: IXUIXS+SandSm; color: #231f20}
.s5 {font-size: 0.8em; font-family: NXDHPI+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s6 {font-size: 0.7em; font-family: SZSQHY+YDIYGO130-KSCPC-EUC-H; color: #231f20}
.s7 {font-size: 0.7em; font-family: YDQVNM+YDIYGO110-KSCPC-EUC-H; color: #231f20}
.s8 {font-size: 0.7em; font-family: NXDHPI+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s9 {font-size: 0.6em; font-family: NXDHPI+YDIYMjO110-KSCPC-EUC-H; color: #231f20}
.s10 {font-size: 0.6em; font-family: IXUIXS+SandSm; color: #231f20}
.s11 {font-size: 0.8em; font-family: SZSQHY+YDIYGO130-KSCPC-EUC-H; color: #231f20}
.s12 {font-size: 0.8em; font-family: SZSQHY+AdobeMyungjoStd-Medium; color: #231f20}
.s13 {font-size: 0.7em; font-family: DAFZFC+YDIYGO120-KSCPC-EUC-H; color: #231f20}
.s14 {font-size: 0.9em; font-family: IATYXS+KoPubBatangLight; color: #393536}
.s15 {font-size: 1.0em; font-family: DBYKFC+KoPubBatangMedium; color: #656262}
.s16 {font-size: 2.0em; font-family: NDWSPI+KoPubBatangBold; color: #a7a5a5}
.s17 {font-size: 0.9em; font-family: EXIBVA+KoPubBatangLight; color: #a7a5a5}
.s18 {font-size: 1.6em; font-family: XAZAZO+Loopi; color: #393536}
.s19 {font-size: 0.7em; font-family: IATYXS+KoPubBatangLight; color: #5a5757}
.s20 {font-size: 3.7em; font-family: XAZAZO+Loopi; color: #a7a5a5}
.s21 {font-size: 1.6em; font-family: IATYXS+KoPubBatangLight; color: #393536}
.s22 {font-size: 1.0em; font-family: IATYXS+KoPubBatangLight; color: #393536}
.s23 {font-size: 0.9em; font-family: PBUFTE+KoPubBatangLight; color: #a7a5a5}
.s24 {font-size: 0.6em; font-family: YDQVNM+YDIYGO110-KSCPC-EUC-H; color: #393536}
.s25 {font-size: 0.9em; font-family: OGYRAG+KoPubBatangLight; color: #a7a5a5}
.s26 {font-size: 0.9em; font-family: NFIGMI+KoPubBatangLight; color: #a7a5a5}
.s27 {font-size: 1.0em; font-family: IATYXS+KoPubBatangLight; color: #231f20}
.s28 {font-size: 0.9em; font-family: MILNYK+KoPubBatangLight; color: #a7a5a5}
.s29 {font-size: 0.9em; font-family: XMSRWO+KoPubBatangLight; color: #a7a5a5}
.s30 {font-size: 0.9em; font-family: BUESVG+KoPubBatangLight; color: #a7a5a5}
.s31 {font-size: 0.9em; font-family: ATOHHI+KoPubBatangLight; color: #a7a5a5}
.s32 {font-size: 0.9em; font-family: UYJUBU+KoPubBatangLight; color: #a7a5a5}
.s33 {font-size: 0.9em; font-family: UWIKBU+KoPubBatangLight; color: #a7a5a5}
.s34 {font-size: 0.9em; font-family: YDBFAM+KoPubBatangMedium; color: #a7a5a5}
.s35 {font-size: 0.9em; font-family: YBVAAM+KoPubBatangMedium; color: #a7a5a5}
.s36 {font-size: 0.9em; font-family: CGNLEE+KoPubBatangMedium; color: #a7a5a5}
.s37 {font-size: 0.9em; font-family: NKZPCI+KoPubBatangMedium; color: #a7a5a5}
.s38 {font-size: 0.9em; font-family: WMBJYQ+KoPubBatangMedium; color: #a7a5a5}
.s39 {font-size: 0.9em; font-family: WPAZYQ+KoPubBatangMedium; color: #a7a5a5}
.s40 {font-size: 0.9em; font-family: FRCTPY+KoPubBatangMedium; color: #a7a5a5}
.s41 {font-size: 0.9em; font-family: QVOXNC+KoPubBatangMedium; color: #a7a5a5}
.s42 {font-size: 0.9em; font-family: IATYXS+KoPubBatangLight; color: #a7a5a5}
.s43 {font-size: 0.9em; font-family: IATYXS+KoPubBatangLight; color: #393536}
.s44 {font-size: 0.9em; font-family: IXUIXS+SandSm; color: #00ffff}