p {font-size: 1.0em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s0 {font-size: 1.4em; font-family: YTRHDB+YDVYMjOStd13; color: #231f20}
.s1 {font-size: 1.1em; font-family: YTRHDB+YDVYMjOStd13; color: #231f20}
.s2 {font-size: 0.9em; font-family: UNTJZJ+YDVYMjOStd12; color: #231f20}
.s3 {font-size: 1.2em; font-family: SKUXXN+YDVYMjOStd12; color: #5a5757}
.s4 {font-size: 1.1em; font-family: UNTJZJ+YDVYMjOStd12; color: #5a5757}
.s5 {font-size: 1.8em; font-family: PDGFHT+YDVYMjOStd13; color: #e1536c}
.s6 {font-size: 1.6em; font-family: YTRHDB+YDVYMjOStd13; color: #e1536c}
.s7 {font-size: 0.8em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s8 {font-size: 1.1em; font-family: QAWLUN+YDVYMjOStd14; color: #231f20}
.s9 {font-size: 0.6em; font-family: MPTNQV+YDVYGOStd12; color: #231f20}
.s10 {font-size: 0.6em; font-family: IJVPMD+HelveticaNeueLTStd-Roman; color: #231f20}
.s11 {font-size: 0.6em; font-family: HKGJYF+YDVYGOStd14; color: #7b7879}
.s12 {font-size: 0.6em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s13 {font-size: 0.5em; font-family: MPTNQV+YDVYGOStd12; color: #231f20}
.s14 {font-size: 0.6em; font-family: MPTNQV+YDVYGOStd12; color: #bdbbbc}
.s15 {font-size: 1.4em; font-family: EDXRIL+HC_BHeseo; color: #4f4b4c}
.s16 {font-size: 1.0em; font-family: QAWLUN+YDVYMjOStd14; color: #231f20}
.s17 {font-size: 0.9em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s18 {font-size: 1.1em; font-family: OVRPSR+J1950M-KSCpc-EUC-H; color: #231f20}
.s19 {font-size: 1.0em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s20 {font-size: 0.7em; font-family: BYKESR+YDVYMjOStd12; color: #4f4b4c}
.s21 {font-size: 1.0em; font-family: FIAIWJ+ITCGaramondStd-Lt; color: #231f20}
.s22 {font-size: 0.6em; font-family: BYKESR+YDVYMjOStd12; color: #4f4b4c}
.s23 {font-size: 1.6em; font-family: KSNMOZ+SanOy; color: #231f20}
.s24 {font-size: 1.1em; font-family: KSNMOZ+SanOy; color: #231f20}
.s25 {font-size: 0.9em; font-family: BYKESR+YDVYMjOStd12; color: #231f20}
.s26 {font-size: 1.4em; font-family: OVRPSR+J1950M-KSCpc-EUC-H; color: #00ffff}
.s27 {font-size: 0.9em; font-family: EDXRIL+HC_BHeseo; color: #231f20}
.s28 {font-size: 0.9em; font-family: FIAIWJ+ITCGaramondStd-Lt; color: #231f20}
.s29 {font-size: 1.6em; font-family: KSNMOZ+SanOy; color: #4f4b4c}
.s30 {font-size: 1.6em; font-family: OVRPSR+J1950M-KSCpc-EUC-H; color: #231f20}
.s31 {font-size: 1.0em; font-family: EELCIL+Haansoft-Batang; color: #231f20}
.s32 {font-size: 0.6em; font-family: BYKESR+YDVYMjOStd12; color: #4f4b4c}
.s33 {font-size: 1.0em; font-family: AGLZZT+YDVYMjOStd11; color: #231f20}
.s34 {font-size: 1.0em; font-family: MPTNQV+YDVYGOStd12; color: #231f20}