p {font-size: 1.0em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s0 {font-size: 0.7em; font-family: FFZLQT+YDVYMjO13; color: #231f20}
.s1 {font-size: 0.6em; font-family: VQUDGN+YDVYGO13; color: #231f20}
.s2 {font-size: 0.5em; font-family: VQUDGN+YDVYGO13; color: #231f20}
.s3 {font-size: 0.6em; font-family: FFZLQT+YDVYMjO13; color: #231f20}
.s4 {font-size: 0.8em; font-family: FFZLQT+YDVYMjO13; color: #231f20}
.s5 {font-size: 0.5em; font-family: FFZLQT+YDVYMjO13; color: #231f20}
.s6 {font-size: 0.8em; font-family: HKZHSP+TimesNewRomanPSMT; color: #4f4b4c}
.s7 {font-size: 2.4em; font-family: LBUVWH+YDVPostB; color: #231f20}
.s8 {font-size: 0.9em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s9 {font-size: 1.1em; font-family: HKZHSP+TimesNewRomanPSMT; color: #4f4b4c}
.s10 {font-size: 3.4em; font-family: LBUVWH+YDVPostB; color: #231f20}
.s11 {font-size: 1.4em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s12 {font-size: 0.9em; font-family: BHUNMB+YDVYGO145; color: #231f20}
.s13 {font-size: 0.9em; font-family: BHUNMB+YDVYGO125; color: #231f20}
.s14 {font-size: 1.0em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s15 {font-size: 1.1em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s16 {font-size: 0.9em; font-family: RSUFCV+YDVYGO135; color: #231f20}
.s17 {font-size: 1.1em; font-family: BHUNMB+YDVYGO125; color: #231f20}
.s18 {font-size: 1.0em; font-family: HDUSSP+TimesNewRomanPS-ItalicMT; color: #231f20}
.s19 {font-size: 1.4em; font-family: HDUSSP+AGaramondPro-Regular; color: #231f20}
.s20 {font-size: 0.8em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s21 {font-size: 0.8em; font-family: HDUSSP+AGaramondPro-Regular; color: #231f20}
.s22 {font-size: 0.7em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s23 {font-size: 0.9em; font-family: HDUSSP+AGaramondPro-Regular; color: #231f20}
.s24 {font-size: 3.7em; font-family: LBUVWH+YDVPostB; color: #231f20}
.s25 {font-size: 0.6em; font-family: HKZHSP+TimesNewRomanPSMT; color: #231f20}
.s26 {font-size: 2.1em; font-family: LBUVWH+YDVPostB; color: #231f20}
.s27 {font-size: 0.7em; font-family: HDUSSP+AGaramondPro-Regular; color: #231f20}
.s28 {font-size: 0.4em; font-family: HKZHSP+TimesNewRomanPSMT; color: #231f20}
.s29 {font-size: 0.6em; font-family: HKZHSP+TimesNewRomanPSMT; color: #231f20}
.s30 {font-size: 0.5em; font-family: JIAZDL+YDVYGO135; color: #231f20}
.s31 {font-size: 0.5em; font-family: ZTAMTF+AdobeMyungjoStd-Medium; color: #231f20}
.s32 {font-size: 0.5em; font-family: PZAEJZ+YDVYMjO125; color: #231f20}
.s33 {font-size: 0.4em; font-family: PZAEJZ+YDVYMjO125; color: #231f20}
.s34 {font-size: 1.0em; font-family: RSUFCV+YDVYGO135; color: #231f20}
.s35 {font-size: 1.8em; font-family: HKZHSP+YDVYMjO125; color: #231f20}
.s36 {font-size: 1.0em; font-family: HDUSSP+AGaramondPro-Regular; color: #231f20}
.s37 {font-size: 0.7em; font-family: HKZHSP+TimesNewRomanPSMT; color: #231f20}
.s38 {font-size: 0.7em; font-family: XJUKIJ+BatangChe; color: #231f20}