p {font-size: 1.0em; font-family: PMKIXW+YDVYMjOStd12; color: #231f20}
.s0 {font-size: 0.5em; font-family: PMKIXW+YDVYGOStd12; color: #656262}
.s1 {font-size: 1.1em; font-family: PMKIXW+Garamond-Light; color: #231f20}
.s2 {font-size: 0.7em; font-family: PMKIXW+DIN-Bold; color: #231f20}
.s3 {font-size: 0.6em; font-family: PMKIXW+YDVYGOStd14; color: #231f20}
.s4 {font-size: 1.4em; font-family: PMKIXW+YDVYMjOStd13; color: #231f20}
.s5 {font-size: 1.0em; font-family: PMKIXW+YDVYMjOStd12; color: #231f20}
.s6 {font-size: 0.9em; font-family: PMKIXW+YDVYMjOStd12; color: #231f20}
.s7 {font-size: 0.9em; font-family: PMKIXW+Garamond-Light; color: #231f20}
.s8 {font-size: 1.0em; font-family: PMKIXW+Garamond-Light; color: #231f20}
.s9 {font-size: 0.8em; font-family: PMKIXW+YDVYMjOStd13; color: #231f20}
.s10 {font-size: 0.9em; font-family: PMKIXW+YDVYGOStd13; color: #231f20}
.s11 {font-size: 0.6em; font-family: PMKIXW+YDVYMjOStd12; color: #231f20}
.s12 {font-size: 0.6em; font-family: PMKIXW+Garamond-Light; color: #231f20}
.s13 {font-size: 0.6em; font-family: PMKIXW+YDVYGOStd13; color: #231f20}