p {font-size: 1.0em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}
.s0 {font-size: 1.0em; font-family: EFUZTI+YDVYGOStd15; color: #7a6196}
.s1 {font-size: 1.0em; font-family: EQXJYA+YDVYGOStd13; color: #a7a5a5}
.s2 {font-size: 0.9em; font-family: GWAGNZ+YDVYGOStd13; color: #a7a5a5}
.s3 {font-size: 0.8em; font-family: AWKHFW+YDVYGOStd12; color: #00ffff}
.s4 {font-size: 0.7em; font-family: VARDSD+YDVYGOStd12; color: #00ffff}
.s5 {font-size: 2.3em; font-family: EFUZTI+YDVYGOStd15; color: #00ffff}
.s6 {font-size: 0.8em; font-family: PNMCRN+DIN-Regular; color: #6d5295}
.s7 {font-size: 1.0em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}
.s8 {font-size: 1.3em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}
.s9 {font-size: 0.8em; font-family: GWAGNZ+YDVYGOStd13; color: #6d5295}
.s10 {font-size: 0.8em; font-family: ACSPMQ+DIN-Medium; color: #231f20}
.s11 {font-size: 0.9em; font-family: ARWQMO+YDVYGOStd14; color: #6d5295}
.s12 {font-size: 0.6em; font-family: UTPKGW+MyriadPro-Regular; color: #4f4b4c}
.s13 {font-size: 0.9em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}
.s14 {font-size: 0.8em; font-family: ARWQMO+YDVYGOStd14; color: #6d5295}
.s15 {font-size: 0.8em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s16 {font-size: 0.8em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s17 {font-size: 0.8em; font-family: WFCULR+Dinmed; color: #656262}
.s18 {font-size: 0.8em; font-family: ARWQMO+YDVYGOStd14; color: #6d5295}
.s19 {font-size: 1.0em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s20 {font-size: 1.0em; font-family: ARWQMO+YDVYGOStd14; color: #6d5295}
.s21 {font-size: 0.8em; font-family: ZVXEVP+AdobeMyungjoStd-Medium; color: #656262}
.s22 {font-size: 0.8em; font-family: VARDSD+YDVYGOStd12; color: #7a6196}
.s23 {font-size: 2.8em; font-family: KNWAYP+HelveticaNeue-UltraLight; color: #6d5295}
.s24 {font-size: 0.6em; font-family: ARWQMO+YDVYGOStd14; color: #231f20}
.s25 {font-size: 2.9em; font-family: LAQADN+HYMyeongJo-Light-Pro; color: #00ffff}
.s26 {font-size: 2.9em; font-family: DFYYMH+HYMyeongJo-Light-Pro; color: #00ffff}
.s27 {font-size: 1.5em; font-family: ARWQMO+YDVYGOStd14; color: #231f20}
.s28 {font-size: 1.3em; font-family: ARWQMO+YDVYGOStd14; color: #231f20}
.s29 {font-size: 2.2em; font-family: DFYYMH+HYMyeongJo-Light-Pro; color: #231f20}
.s30 {font-size: 0.8em; font-family: GWAGNZ+YDVYGOStd13; color: #231f20}
.s31 {font-size: 0.8em; font-family: QGBTIL+HelveticaNeue; color: #231f20}
.s32 {font-size: 1.0em; font-family: ZVXEVP+AdobeMyungjoStd-Medium; color: #231f20}
.s33 {font-size: 1.0em; font-family: PYFGGN+SMKGothicStd-Regular; color: #6d5295}
.s34 {font-size: 0.7em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s35 {font-size: 0.8em; font-family: MPQUEP+MyriadPro-Semibold; color: #6d5295}
.s36 {font-size: 0.8em; font-family: ARWQMO+YDVYGOStd14; color: #231f20}
.s37 {font-size: 0.5em; font-family: GWAGNZ+YDVYGOStd13; color: #6d5295}
.s38 {font-size: 0.8em; font-family: GWAGNZ+YDVYGOStd13; color: #231f20}
.s39 {font-size: 0.6em; font-family: GWAGNZ+YDVYGOStd13; color: #231f20}
.s40 {font-size: 0.5em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s41 {font-size: 0.5em; font-family: VARDSD+YDVYGOStd12; color: #656262}
.s42 {font-size: 0.6em; font-family: VARDSD+YDVYGOStd12; color: #231f20}
.s43 {font-size: 2.9em; font-family: DFYYMH+HYMyeongJo-Light-Pro; color: #00ffff}
.s44 {font-size: 1.5em; font-family: UTPKGW+MyriadPro-Regular; color: #00ffff}
.s45 {font-size: 0.9em; font-family: GWAGNZ+YDVYGOStd13; color: #231f20}
.s46 {font-size: 0.7em; font-family: GWAGNZ+YDVYGOStd13; color: #231f20}
.s47 {font-size: 0.7em; font-family: ARWQMO+YDVYGOStd14; color: #6d5295}
.s48 {font-size: 0.6em; font-family: GWJBOA+AdobeHeitiStd-Regular; color: #4f4b4c}
.s49 {font-size: 0.6em; font-family: WFCULR+Dinmed; color: #7a6196}
.s50 {font-size: 0.6em; font-family: ARWQMO+YDVYGOStd14; color: #00ffff}
.s51 {font-size: 0.8em; font-family: WFCULR+Dinmed; color: #00ffff}
.s52 {font-size: 0.6em; font-family: BUGSTJ+MyriadPro-Regular; color: #4f4b4c}
.s53 {font-size: 0.7em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}
.s54 {font-size: 1.2em; font-family: QSOVVN+SPmuS20-Regular; color: #231f20}
.s55 {font-size: 0.5em; font-family: RCAZHJ+SMSSMyungJo10Std-Regular; color: #231f20}