p {font-size: 1.0em; font-family: VUBTXC+YDVYMjOStd32; color: #231f20}
.s0 {font-size: 1.2em; font-family: PYBORO+YDVYMjOStd54; color: #231f20}
.s1 {font-size: 0.7em; font-family: PYBORO+YDVYMjOStd22; color: #231f20}
.s2 {font-size: 0.9em; font-family: FJBBHI+NanumMyeongjoOTF; color: #4f4b4c}
.s3 {font-size: 1.0em; font-family: VUBTXC+YDVYMjOStd32; color: #656262}
.s4 {font-size: 1.0em; font-family: VUBTXC+YDVYMjOStd32; color: #231f20}
.s5 {font-size: 0.6em; font-family: HCWIJE+SandTg; color: #231f20}
.s6 {font-size: 0.6em; font-family: XNWAZY+SandSm; color: #231f20}
.s7 {font-size: 0.6em; font-family: NYWSPS+NanumMyeongjo; color: #231f20}
.s8 {font-size: 0.6em; font-family: XNWAZY+SandSm; color: #231f20}
.s9 {font-size: 1.2em; font-family: DEWKFM+LucidaBright; color: #2e2a2b}
.s10 {font-size: 1.4em; font-family: DEWKFM+NanumBrush; color: #231f20}
.s11 {font-size: 1.2em; font-family: TPWCVG+YDVYMjOStd33; color: #231f20}
.s12 {font-size: 1.0em; font-family: TPWCVG+YDVYMjOStd31; color: #231f20}
.s13 {font-size: 0.9em; font-family: VUBTXC+YDVYMjOStd32; color: #656262}
.s14 {font-size: 0.8em; font-family: PYBORO+YDVYMjOStd22; color: #393536}
.s15 {font-size: 0.6em; font-family: PYBORO+YDVYMjOStd22; color: #7b7879}
.s16 {font-size: 0.9em; font-family: DEWKFM+LucidaBright; color: #656262}
.s17 {font-size: 1.4em; font-family: JAWULA+MDAlong; color: #393536}
.s18 {font-size: 0.9em; font-family: PYBORO+YDVYMjOStd22; color: #393536}
.s19 {font-size: 1.4em; font-family: ZLWHWU+HA-TTL; color: #393536}
.s20 {font-size: 1.1em; font-family: ZLWHWU+YDVYMjOStd42; color: #656262}
.s21 {font-size: 1.0em; font-family: DEWKFM+LucidaBright; color: #656262}
.s22 {font-size: 1.4em; font-family: PYBORO+YDVYMjOStd22; color: #444041}
.s23 {font-size: 0.7em; font-family: PYBORO+YDVYMjOStd22; color: #444041}
.s24 {font-size: 0.7em; font-family: PYBORO+YDVYMjOStd22; color: #656262}
.s25 {font-size: 1.1em; font-family: ZLWHWU+YDVYGOStd22; color: #656262}
.s26 {font-size: 0.8em; font-family: PRWZMO+SeoulNamsanB; color: #7b7879}
.s27 {font-size: 1.1em; font-family: ZLWHWU+YDVYGOStd22; color: #918f8f}
.s28 {font-size: 1.0em; font-family: VUBTXC+YDVYMjOStd32; color: #2e2a2b}
.s29 {font-size: 0.6em; font-family: RPRGOK+Haansoft-Dotum; color: #868384}
.s30 {font-size: 0.6em; font-family: VUBTXC+YDVYMjOStd32; color: #2e2a2b}
.s31 {font-size: 4.1em; font-family: NRRIKS+YDVYMjOStd35; color: #231f20}
.s32 {font-size: 1.9em; font-family: NRRIKS+YDVYMjOStd35; color: #231f20}
.s33 {font-size: 0.9em; font-family: NRRIKS+YDVYMjOStd35; color: #231f20}