p {font-size: 1.0em; font-family: IPPDDK+YDVYMjO11; color: #231f20}
.s0 {font-size: 2.9em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s1 {font-size: 1.9em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s2 {font-size: 1.0em; font-family: JXZJRI+Times-Roman; color: #231f20}
.s3 {font-size: 0.8em; font-family: JXZJRI+Times-Roman; color: #231f20}
.s4 {font-size: 0.8em; font-family: JXZJRI+YDVYMjO13; color: #231f20}
.s5 {font-size: 0.8em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s6 {font-size: 0.8em; font-family: JXZJRI+Times-Roman; color: #231f20}
.s7 {font-size: 1.2em; font-family: JXZJRI+HYSam-Light-Pro; color: #231f20}
.s8 {font-size: 7.8em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s9 {font-size: 5.2em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s10 {font-size: 0.8em; font-family: JXZJRI+YDVYGO11; color: #231f20}
.s11 {font-size: 0.8em; font-family: JXZJRI+YDVYGO13; color: #231f20}
.s12 {font-size: 4.5em; font-family: IPPDDK+DIN-Medium; color: #00ffff}
.s13 {font-size: 0.6em; font-family: IPPDDK+DIN-Medium; color: #231f20}
.s14 {font-size: 0.6em; font-family: IPPDDK+YDVYGO14; color: #231f20}
.s15 {font-size: 1.0em; font-family: IPPDDK+YDVYMjO11; color: #231f20}
.s16 {font-size: 1.3em; font-family: IPPDDK+YDVYMjO11; color: #00acef}
.s17 {font-size: 1.3em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #00acef}
.s18 {font-size: 1.0em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #231f20}
.s19 {font-size: 1.2em; font-family: IPPDDK+YDVYMjO11; color: #231f20}
.s20 {font-size: 0.8em; font-family: IPPDDK+YDVYMjO11; color: #231f20}
.s21 {font-size: 0.6em; font-family: JXZJRI+YDVYGO13; color: #00acef}
.s22 {font-size: 0.6em; font-family: JXZJRI+YDVYGO11; color: #231f20}
.s23 {font-size: 0.6em; font-family: JXZJRI+YDVYGO13; color: #7b7879}
.s24 {font-size: 0.6em; font-family: IPPDDK+DIN-Medium; color: #7b7879}
.s25 {font-size: 0.5em; font-family: JXZJRI+YDVYGO13; color: #00ffff}
.s26 {font-size: 0.7em; font-family: IPPDDK+YDVYMjO11; color: #00acef}
.s27 {font-size: 1.1em; font-family: IPPDDK+YDVYGO15; color: #00ffff}
.s28 {font-size: 2.5em; font-family: IPPDDK+YDVYMjO11; color: #231f20}
.s29 {font-size: 0.8em; font-family: IPPDDK+DIN-Bold; color: #231f20}
.s30 {font-size: 0.6em; font-family: JXZJRI+YDVYGO11; color: #00acef}
.s31 {font-size: 0.8em; font-family: JXZJRI+Times-Roman; color: #00ffff}
.s32 {font-size: 1.2em; font-family: JXZJRI+Times-Roman; color: #00ffff}
.s33 {font-size: 0.8em; font-family: IPPDDK+AdobeMyungjoStd-Medium; color: #231f20}
.s34 {font-size: 0.6em; font-family: JXZJRI+YDVYGO13; color: #231f20}
.s35 {font-size: 0.7em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #656262}
.s36 {font-size: 0.7em; font-family: IPPDDK+YDVYMjO11; color: #656262}
.s37 {font-size: 1.0em; font-family: IPPDDK+YDVYMjO11; color: #656262}
.s38 {font-size: 0.9em; font-family: IPPDDK+YDVYGO14; color: #00acef}
.s39 {font-size: 0.8em; font-family: IPPDDK+YDVYGO12; color: #33bdf2}
.s40 {font-size: 0.7em; font-family: IPPDDK+YDVYGO12; color: #4cc5f3}
.s41 {font-size: 0.5em; font-family: IPPDDK+YDVYGO12; color: #231f20}
.s42 {font-size: 0.5em; font-family: IPPDDK+YDVYGO12; color: #00ffff}
.s43 {font-size: 0.8em; font-family: IPPDDK+YDVYGO12; color: #656262}
.s44 {font-size: 1.0em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #656262}
.s45 {font-size: 0.6em; font-family: IPPDDK+YDVYGO14; color: #00ffff}
.s46 {font-size: 0.8em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #231f20}
.s47 {font-size: 0.5em; font-family: IPPDDK+YDVYGO14; color: #00ffff}
.s48 {font-size: 0.8em; font-family: IPPDDK+YDVYMjO11; color: #656262}
.s49 {font-size: 0.8em; font-family: IPPDDK+ITCGaramondStd-Lt; color: #656262}
.s50 {font-size: 0.8em; font-family: IPPDDK+YDVYGO12; color: #4cc5f3}
.s51 {font-size: 0.6em; font-family: IPPDDK+YDVYGO12; color: #231f20}
.s52 {font-size: 0.6em; font-family: IPPDDK+YDVYGO12; color: #00acef}
.s53 {font-size: 0.8em; font-family: JXZJRI+YDVYGO13; color: #656262}
.s54 {font-size: 0.6em; font-family: IPPDDK+DIN-Light; color: #231f20}
.s55 {font-size: 0.6em; font-family: JXZJRI+YDVYGO13; color: #00ffff}
.s56 {font-size: 2.2em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}
.s57 {font-size: 1.5em; font-family: JXZJRI+SDMyungjoStd-Light; color: #231f20}