p {font-size: 1.0em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s0 {font-size: 2.2em; font-family: YoonGothicB-KSCpc-EUC-H-Identity-H; color: #231f20}
.s1 {font-size: 3.3em; font-family: YoonGothicB-KSCpc-EUC-H-Identity-H; color: #231f20}
.s2 {font-size: 1.1em; font-family: YoonGothicB-Identity-H; color: #191919}
.s3 {font-size: 0.6em; font-family: YoonMyungjoM-Identity-H; color: #191919}
.s4 {font-size: 0.6em; font-family: YoonMyungjoB-Identity-H; color: #191919}
.s5 {font-size: 0.6em; font-family: YoonGothicM-Identity-H; color: #191919}
.s6 {font-size: 0.3em; font-family: YoonMyungjoM-Identity-H; color: #191919}
.s7 {font-size: 2.6em; font-family: YoonGothicB-KSCpc-EUC-H-Identity-H; color: #231f20}
.s8 {font-size: 3.9em; font-family: YoonGothicB-KSCpc-EUC-H-Identity-H; color: #231f20}
.s9 {font-size: 0.8em; font-family: YoonGothicB-KSCpc-EUC-H-Identity-H; color: #231f20}
.s10 {font-size: 0.6em; font-family: YTEMBW+JCsmPC; color: #191919}
.s11 {font-size: 0.6em; font-family: GABSJB+AppleGothic; color: #191919}
.s12 {font-size: 0.6em; font-family: MICQYW+HoeflerText-Black; color: #191919}
.s13 {font-size: 1.0em; font-family: YoonGothicM-Identity-H; color: #191919}
.s14 {font-size: 1.0em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s15 {font-size: 0.6em; font-family: OKYYRJ+AppleMyungjo; color: #191919}
.s16 {font-size: 0.8em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s17 {font-size: 1.0em; font-family: GABSJB+AppleGothic; color: #191919}
.s18 {font-size: 0.6em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s19 {font-size: 0.8em; font-family: YoonGothicM-Identity-H; color: #191919}
.s20 {font-size: 0.8em; font-family: GABSJB+AppleGothic; color: #191919}
.s21 {font-size: 0.8em; font-family: YoonMyungjoM-Identity-H; color: #191919}
.s22 {font-size: 1.3em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #656262}
.s23 {font-size: 1.5em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #656262}
.s24 {font-size: 0.5em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s25 {font-size: 2.9em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s26 {font-size: 0.8em; font-family: YDYGO33-Identity-H; color: #191919}
.s27 {font-size: 0.5em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s28 {font-size: 0.6em; font-family: YoonMyungjoL-Identity-H; color: #191919}
.s29 {font-size: 0.8em; font-family: YDIYMjO130-Identity-H; color: #191919}
.s30 {font-size: 1.5em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #231f20}
.s31 {font-size: 1.3em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #656263}
.s32 {font-size: 1.0em; font-family: YoonMyungjoB-Identity-H; color: #191919}
.s33 {font-size: 1.5em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #00ffff}
.s34 {font-size: 1.5em; font-family: YoonMyungjoM-KSCpc-EUC-H-Identity-H; color: #4f4c4d}