p {font-size: 1.0em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s0 {font-size: 2.5em; font-family: EMOEZA+YDIYMjO140-KSCpc-EUC-H; color: #231f20}
.s1 {font-size: 1.0em; font-family: EMOEZA+SMKMyungJoStd-Regular; color: #231f20}
.s2 {font-size: 0.8em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s3 {font-size: 0.8em; font-family: OLTIJG+SandSm; color: #231f20}
.s4 {font-size: 0.6em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s5 {font-size: 0.6em; font-family: OLTIJG+SandSm; color: #231f20}
.s6 {font-size: 0.6em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s7 {font-size: 1.0em; font-family: DPMLGC+SandTm; color: #231f20}
.s8 {font-size: 0.6em; font-family: NRPTQI+SMKGothicStd-Regular; color: #231f20}
.s9 {font-size: 0.8em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s10 {font-size: 0.8em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s11 {font-size: 0.2em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #656262}
.s12 {font-size: 0.6em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #656262}
.s13 {font-size: 1.5em; font-family: DPMLGC+SandTm; color: #231f20}
.s14 {font-size: 1.0em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s15 {font-size: 1.0em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s16 {font-size: 1.0em; font-family: OLTIJG+SandSm; color: #231f20}
.s17 {font-size: 0.8em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s18 {font-size: 0.8em; font-family: OLTIJG+SandSm; color: #231f20}
.s19 {font-size: 1.5em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s20 {font-size: 1.0em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s21 {font-size: 0.2em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s22 {font-size: 1.1em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s23 {font-size: 1.2em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s24 {font-size: 0.9em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s25 {font-size: 1.1em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s26 {font-size: 0.9em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s27 {font-size: 1.2em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s28 {font-size: 1.2em; font-family: OLTIJG+SandSm; color: #231f20}
.s29 {font-size: 0.8em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s30 {font-size: 0.8em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s31 {font-size: 0.8em; font-family: DPMLGC+SandTm; color: #231f20}
.s32 {font-size: 2.4em; font-family: IPAKYS+YDIYMjO130-KSCpc-EUC-H; color: #00ffff}
.s33 {font-size: 2.6em; font-family: IPAKYS+YDIYMjO130-KSCpc-EUC-H; color: #00ffff}
.s34 {font-size: 0.5em; font-family: YNWQTM+Haansoft-Batang; color: #00ffff}
.s35 {font-size: 0.8em; font-family: DPMLGC+SandTm; color: #00ffff}
.s36 {font-size: 0.8em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #00ffff}
.s37 {font-size: 1.5em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s38 {font-size: 1.2em; font-family: DPMLGC+SandTm; color: #231f20}
.s39 {font-size: 0.5em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s40 {font-size: 0.7em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s41 {font-size: 0.7em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s42 {font-size: 0.7em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s43 {font-size: 0.7em; font-family: OLTIJG+SandSm; color: #231f20}
.s44 {font-size: 0.8em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s45 {font-size: 0.4em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s46 {font-size: 0.9em; font-family: OLTIJG+SandSm; color: #231f20}
.s47 {font-size: 1.2em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s48 {font-size: 0.9em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s49 {font-size: 0.5em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s50 {font-size: 0.2em; font-family: IPAKYS+KentenGeneric; color: #231f20}
.s51 {font-size: 1.0em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s52 {font-size: 0.3em; font-family: XONWAO+YDIYGO130-KSCpc-EUC-H; color: #231f20}
.s53 {font-size: 0.5em; font-family: OLTIJG+SandSm; color: #231f20}
.s54 {font-size: 0.5em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #231f20}
.s55 {font-size: 2.0em; font-family: IPAKYS+YDIYMjO130-KSCpc-EUC-H; color: #00ffff}
.s56 {font-size: 0.4em; font-family: YNWQTM+Haansoft-Batang; color: #00ffff}
.s57 {font-size: 1.1em; font-family: DPMLGC+SandTm; color: #231f20}
.s58 {font-size: 1.0em; font-family: IPAKYS+Haansoft-Dotum; color: #231f20}
.s59 {font-size: 1.2em; font-family: YNWQTM+Haansoft-Batang; color: #231f20}
.s60 {font-size: 2.2em; font-family: IPAKYS+YDIYMjO130-KSCpc-EUC-H; color: #00ffff}
.s61 {font-size: 2.2em; font-family: YNWQTM+Haansoft-Batang; color: #00ffff}
.s62 {font-size: 2.2em; font-family: EMOEZA+SMSMyungJoStd-Regular; color: #00ffff}
.s63 {font-size: 1.2em; font-family: EMOEZA+YDIYMjO140-KSCpc-EUC-H; color: #231f20}
.s64 {font-size: 0.5em; font-family: NRPTQI+SMKGothicStd-Regular; color: #231f20}
.s65 {font-size: 0.7em; font-family: XPGHAO+SandTg; color: #231f20}
.s66 {font-size: 0.8em; font-family: XPGHAO+SandTg; color: #231f20}
.s67 {font-size: 0.6em; font-family: XONWAO+YDIYGO120-KSCpc-EUC-H; color: #231f20}
.s68 {font-size: 0.5em; font-family: EMOEZA+SMKMyungJoStd-Regular; color: #231f20}